<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/form-edit-prod.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">


    <!--Javascript-->
    <script src="/javascripts/parallax.js"></script>
    <title>Home</title>
</head>
<body>

    <%- include('partials/navbar.ejs') %>
    <div class="relleno"></div>
    <div class="container">

    

    <h1>Estas editando el producto: <%= product[0].name %> </h1>

    <form action="/products/<%= product[0].id %>?_method=PUT" method="POST" class="form-edit-prod">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Nombre</label>
                    <input class="w-100" name="nombre" type="text" value="<%= product[0].name %>" placeholder="Stock del producto">      
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Stock</label>
                    <input class="w-100" name="stock" type="text" value="<%= product[0].stock %>" placeholder="Stock del producto">      
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Precio</label>
                    <input class="w-100" name="precio" type="text" value="<%= product[0].price %>" placeholder="Precio del producto">
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Composicion</label>
                    <input class="w-100" name="composicion" type="text" value="<%= product[0].composicion %>" placeholder="Composicion del producto">
                </div>
                
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Medidas</label>
                    <input class="w-100" name="medidas" type="text" value="<%= product[0].medidas %>" placeholder="Medidas del producto">
                </div>
                
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Aclaracion</label>
                    <input class="w-100" name="aclaracion" type="text" value="<%= product[0].aclaracion %>" placeholder="Aclaracion del producto">
                </div>
                
            </div>
        </div>
        
        

        

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Tipo de producto</label>
                    <input class="w-100" name="tipo" type="text" value="<%= product[0].producto %>" placeholder="producto del producto">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Categoria</label>
                    <input class="w-100" name="categoria" type="text" value="<%= product[0].category %>" placeholder="category del producto">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="p-4">

                    <label class="d-block" for="">Descripcion</label>
                    <input class="w-100" name="descripcion" type="text" value="<%= product[0].description %>" placeholder="Descripcion del producto">
                </div>
            </div>
        </div>

        <div class="ml-auto w-25  mr-4">
            <button type="submit" class="btn m-2 bg-info text-white ">Guardar</button>
            <button class="btn m-2"> <a href="/products/create"> Cancelar </a> </button>
        </div>
       

    </form>
    

</div>

    
</body>
</html>