<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Fontawesome-->
    <script src="https://kit.fontawesome.com/eff8b9a252.js" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <title>Home</title>
</head>
<body>

    <%- include('partials/navbar.ejs',{userLogged}) %>

    <div id="carousel">
        <img class="w-100" src="/images/slider3.jpeg" alt="">
        
        <div class="row d-flex align-items center justify-content-between">
            <a href="" class="nav-link">
                <i class="fas fa-chevron-left px-5"></i>
            </a>
            
            <a href="" class="nav-link">
                <i class="fas fa-chevron-right px-5"></i>
            </a>
        </div>
    </div>



    <main>
        <div class="container">
            
            <h2 class=" mt-5 pt-5">Productos Destacados</h2>

            <div class="row my-5">
                <% for(var i = 0; i < destacado.length; i++){ %>
                    <a href="/products/detail/<%= destacado[i].id %>" class="producto col-lg-3 col-md-6 col-sm-12 mt-5 position-relative">
                            <img class="w-100" src="/images/<%= destacado[i].image %>" alt="">
                            <h3 class="px-3 my-2 text-center"><%= destacado[i].name %></h3>
                            <p class="text-center px-3">$<%= destacado[i].price %></p>
                    </a>
                <% } %>

            </div>


            <h2 class=" mt-5 pt-5">Productos Nuevos</h2>

            <div class="row my-5">
                
                <% for(var i = 0; i < nuevo.length; i++){ %>
                    <a href="/products/detail/<%= nuevo[i].id %>" class="producto col-lg-3 col-md-6 col-sm-12 mt-5 position-relative">
                            <img class="w-100" src="/images/<%= nuevo[i].image %>" alt="">
                            <h3 class="px-3 my-2 text-center"><%= nuevo[i].name %></h3>
                            <p class="text-center px-3">$<%= nuevo[i].price %></p>
                    </a>
                <% } %>

            </div>
        </div>
    </main>

    <section>
        <article class="banner py-5">
            <h4 class="py-5 text-center my-5 text-white font-weight-bold">NUEVA TEMPORADA</h4>
        </article>

        <article class="py-5 w-25 m-auto">
            <img class="w-100" src="/images/pagos3.png" alt="">
        </article>
    </section>

    <%- include('partials/footer.ejs') %>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
</html>